html{
    width: 100%;
    height: 100%;
  }
  body {
    height: 100%;
    background-image: url(../img/5.png);
    margin: 0;
  }
  th{
    color:white
  }
  .to{
    width: 100px;
    height: 50px;
    position: relative;
    position: absolute;
    bottom: 300px;
    left: 30%;
    background-color: red;
    color: white;
  }
  .mo{
    width: 100px;
    height: 50px;
    position: relative;
    position: absolute;
    bottom: 300px;
    left: 60%;
  }
  .field{
    width: 600px;
    margin: auto;
  }
  .table{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }