body{
    background-image: url(../img/3.2.jpg);
}
h3{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    color: black;
}
.re{
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    top: 280px; /* 下部に配置 */
    left: 10px; /* 左側に配置 */
}
.r{
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: red;
    color: white;
    position: absolute;
    top: 370px; /* 下部に配置 */
    left: 10px; /* 左側に配置 */
}